<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
{% load staticfiles %}
<link rel="stylesheet" href="{% static "PythonMkStone/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "PythonMkStone/css/about.css" %}">
{#<link rel="stylesheet" href="{% static "PythonMkStone/css/reveal-it.css" %}">#}
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static "PythonMkStone/js/about/ns.hover.js" %}"></script>
<script src="{% static "PythonMkStone/js/pageswitch.js" %}"></script>
{#<script src="{% static "PythonMkStone/js/about/reveal-it.js" %}"></script>#}
<script>
$(document).ready(function(){

  $("#x2").mouseenter(function(){
      $("#x1").slideDown(200);
      
      

  });
  
  $("#x2").mouseleave(function(){
      $("#x1").slideUp(200);
  });

});
</script>


 
<body>
    <div id="container" data-PageSwitch>
        <div class="sections">
            <div class="section active" id="section0">
                <div class="intro">
                    <h1 class="title"><span>Mk</span>Stone</h1>
                    <div class="about-hr"></div>
                    <p>旭<span style="color:#f00;">日</span>东升，我们如朝阳</p>
                </div>
            </div>
            <!-- shitouboy's introduce -->
            <div class="section" id="section1">
                <div class="single-head" id="shitouge"><img class="img-circle img-thumbnail" src="{% static "PythonMkStone/images/about/shitouboy.gif" %}" alt="">
                <img class="jump" src="{% static "PythonMkStone/images/about/shitouge.gif" %}" class="img-circle img-thumbnail" alt="">
                </div>
                <div class="intro">
                    <a href="http://www.石景宇.com/pages/about-me.html">石头Boy</a>
                    <p>Stone，石头Boy，石头哥。</p>
                    <p>EE专业，CS爱好者，致力于CSer中最厉害的EEer，EEer中最厉害的CSer，传闻最后，卒。</p>
                     <a href="https://github.com/shijingyu" class="github-a"><img src="{% static "PythonMkStone/images/about/github_about.png" %}" alt="" class="github-img"></a>
                </div>
            </div>
            <!-- sofly's introduce -->
            <div class="section" id="section2">

                <div class="single-head" id=""><img class="img-circle img-thumbnail" src="{% static "PythonMkStone/images/open_photo_temp3.jpg" %}" alt=""><p>soFly</p></div>
                
                <div class="intro">

                    <h1 class="title"></h1>
                    <p>soFly, 精通React，node.js 前端大神，名如其人，玄学家！</p>
                    <p>Your are the owner of your career!</p>
                    <a href="https://github.com/soFlyMan" class="github-a"><img src="{% static "PythonMkStone/images/about/github_about.png" %}" alt="" class="github-img"></a>
                    
                </div>
            </div>

            
            <!-- doubi's introduce -->
            <div class="section" id="section3">
                <div class="single-head">
                    <img id="x1" src="{% static "PythonMkStone/images/1.png" %}" style="display: none;">
                    <img id="x2" src="{% static "PythonMkStone/images/yuchun.jpg" %}" alt="" class="img-circle">
                    <p>夏念军</p>
                </div>
                <div class="intro">
                    <h1 class="title"></h1>
                    <p>流逼爱喝牛奶，学习使我快乐</p>
                    <p>俗称逗比，精通JAVA Web 和 CSGO打。枪。枪。</p>
                    <a href="https://github.com/summer19940609" class="github-a"><img src="{% static "PythonMkStone/images/about/github_about.png" %}" alt="" class="github-img"></a>
                
                
               </div>
               
            </div>
            <!-- gentleMan's introduce -->
            <div class="section" id="section4">
                <div class="single-head"><img src="{% static "PythonMkStone/images/single-head.png" %}" alt=""><p>gentleMan</p></div>
                <div class="intro">
                    <h1 class="title"></h1>
                    <p>我是gentleMan，有酒有故事</p>
                    <p>gentleMan,绅士。 UI设计灵感爆棚。</p>
                    <a href="gentleMan.html" target="_blank" class="github-a"><img src="{% static "PythonMkStone/images/about/github_about.png" %}" alt="" class="github-img"></a>
                </div>
            </div>

            <div class="section active" id="section5">
                <div class="intro">
                    <h1 class="title">The end</h1>
                    <div class="about-hr"></div>
                    <p>悟已往之不谏，知来者之可追</p>
                    <p>感谢您的关注</p>
                </div>
            </div>
        </div>
    </div>
</body>
<script>


  $('#soFly-head').nsHover({
      scaling : 0.8,
      speed: 'normal',
      rounded: 'normal',
      bgcolor: '#ffffff',
      bgopacity : 0.5,            
      bgpic : '',
      bgsize : '50%',
      bganim : 'fade',
      shadow : false,
      content: ''
  });
  // $('#shitouge').nsHover({
  //     scaling : 0.8,
  //     speed: 'normal',
  //     rounded: 'normal',
  //     bgcolor: '#ffffff',
  //     bgopacity : 0.5,            
  //     bgpic : '',
  //     bgsize : '50%',
  //     bganim : 'fade',
  //     shadow : false,
  //     content: ''
  // });
</script> 


</html>
