{% include 'admin_base.html' %}
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">MkStone 管理中心<b></b><strong>添加文章</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="/article_show" class="actionBtn">文章列表</a>添加文章</h3>
    <form action="/AddArticleForm/" method="post" enctype="multipart/form-data">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
      {% csrf_token %}
         <tr>
       <td width="90" align="right">文章名称</td>
       <td>
        <input type="text" name="title" value="" size="80" class="inpMain" />
       </td>
      </tr>
      


       <tr>
       <td width="75" align="right">更新时间</td>
       <td>
        <input type="text" name="upload" placeholder="不写默认系统时间" size="80" class="inpMain" />
       </td>
      </tr>
 <tr>
       <td width="90" align="right">文章作者</td>
       <td>
        <input type="text" name="author" value="" size="80" class="inpMain" />
       </td>
      </tr>
<tr>
       <td width="90" align="right">浏览量</td>
       <td>
        <input type="text" name="watch" placeholder="默认1437" value="" size="80" class="inpMain" />
       </td>
      </tr>


      <tr>
       <td align="right">文章分类</td>
       <td>
        <select name="cat_id">
         <option value="0">未分类</option>
                           <option value="数码">数码</option>
                                    <option value="苹果">苹果</option>
                                    <option value="安卓">安卓</option>
            <option value="电脑">电脑</option>
                          </select>
       </td>
      </tr>
            <tr>
       <td align="right" valign="top">文章内容</td>
       <td>
        <!-- KindEditor -->
           {% load staticfiles %}
        <link rel="stylesheet" href="{% static "PythonMkStone/js/kindeditor/themes/default/default.css" %}" />
			<link rel="stylesheet" href="{% static "PythonMkStone/js/kindeditor/plugins/code/prettify.css" %}" />
			<script charset="utf-8" src="{% static "PythonMkStone/js/kindeditor/kindeditor.js" %}"></script>
			<script charset="utf-8" src="{% static "PythonMkStone/js/kindeditor/lang/zh_CN.js" %}"></script>
			<script charset="utf-8" src="{% static "PythonMkStone/js/kindeditor/plugins/code/prettify.js" %}"></script>
        <script>
					KindEditor.ready(function(K) {
						var editor1 = K.create('textarea[name="content"]', {
							cssPath : '../plugins/code/prettify.css',
							uploadJson : '../php/upload_json.php',
							fileManagerJson : '../php/file_manager_json.php',
							allowFileManager : true,
							afterCreate : function() {
								var self = this;
								K.ctrl(document, 13, function() {
									self.sync();
									K('form[name=example]')[0].submit();
								});
								K.ctrl(self.edit.doc, 13, function() {
									self.sync();
									K('form[name=example]')[0].submit();
								});
							}
						});
						prettyPrint();
					});
			</script>
        <!-- /KindEditor -->
        <textarea id="content" name="content" style="width:780px;height:400px;" class="textArea"></textarea>
       </td>
      </tr>
     



 <tr>
       <td width="90" align="right">瀑布流图七牛</td>
       <td>
        <input type="text" name="img1" placeholder="例如:http://7xt927.com1.z0.glb.clouddn.com/article_28" size="80" class="inpMain" />
       </td>
      </tr>


       <tr>
       <td width="90" align="right">文章大图七牛</td>
       <td>
        <input type="text" name="img2" placeer="例如:http://7xt927.com1.z0.glb.clouddn.com/artical_28" size="80" class="inpMain" />
       </td>hold
      </tr>










      <tr>
     
       
      </tr>
      <tr>
      
      
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="7e4a88fb" />
        <input type="hidden" name="image" value="">
        <input type="hidden" name="id" value="">
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
       </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2016 MkStone，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
 <script type="text/javascript">
 
 onload = function()
 {
   document.forms['action'].reset();
 }

 function douAction()
 {
     var frm = document.forms['action'];

     frm.elements['new_cat_id'].style.display = frm.elements['action'].value == 'category_move' ? '' : 'none';
 }
 
 </script>
</body>
</html>
