
 <div id="dcMain">
   <!-- 当前位置 -->
<div id="urHere">MkStone 管理中心<b>></b><strong>添加资源</strong> </div>   <div class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
            <h3><a href="/res_show" class="actionBtn">资源列表</a>添加资源</h3>
    <form action="/AddResForm/" method="post" enctype="multipart/form-data">
     <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
         {% csrf_token %}

      <tr>
       <td width="90" align="right">资源名称</td>
       <td>
        <input type="text" name="resname" value="" size="80" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">资源分类</td>
       <td>
        <select name="resclass">
         <option value="0">未分类</option>
                          <option value="安卓">安卓</option>
                        <option value="苹果">苹果</option>
                        <option value="电脑">电脑</option>
                        <option value="珍藏">珍藏</option>
                          </select>
       </td>
      </tr>
      <tr>
       <td align="right">上传时间</td>
       <td>
        <input type="text" name="uptime" size="40" class="inpMain" />
       </td>
      </tr>
<tr>
       <td align="right">资源地址</td>
       <td>
        <input type="text" name="http" size="70" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td align="right">资源售价</td>
       <td>
        <input type="text" name="price"  size="40" class="inpMain" />
       </td>
      </tr>




<tr>
       <td align="right">资源销量</td>
       <td>
        <input type="text" name="prow" size="40" class="inpMain" />
       </td>
      </tr>



      <tr>
       <td align="right">小图七牛链接</td>
       <td>
        <input type="" name="rpic" size="60" placeer="例如:http://7xt927.com1.z0.glb.clouddn.com/artical_28" class="inpFlie" />

      </tr>

      <tr>
       <td align="right">资源密码</td>
       <td>
        <input type="text" name="rpassword" value="" size="30" class="inpMain" />
       </td>
      </tr>
      <tr>
       <td></td>
       <td>
        <input type="hidden" name="token" value="21307217" />
        <input type="hidden" name="id" value="">
        <input name="submit" class="btn" type="submit" value="提交" />
       </td>
      </tr>
     </table>
    </form>
           </div>
 </div>
 <div class="clear"></div>
<div id="dcFooter">
 <div id="footer">
  <div class="line"></div>
  <ul>
   版权所有 © 2016 MkStone，并保留所有权利。
  </ul>
 </div>
</div><!-- dcFooter 结束 -->
<div class="clear"></div> </div>
</body>
</html>
