{% if request.user.is_authenticated %}
    {% include 'nav-signin.html' %}
{% else %}
    {% include 'nav-nosignin.html' %}
{% endif %}

 <!-- 主体内容开始 -->

<div class="container">



      <!-- 瀑布流开始 -->
      
        <div class="main" id="masonry">
           <!-- 瀑布流小块 -->
{% for aaal in aall %}

 <div class='box' type='button' data-toggle='modal' data-target='#{{ aaal.id }}'>

     {% load staticfiles %}

              <img src='{{ aaal.amasonry }}' alt=''>

              <p>{{ aaal.aname }}</p>
              <p>{{ aaal.aclass }}</p>
              <p>{{ aaal.uptime }}</p>
              <p>
                  {% load staticfiles %}
              <img src='{% static "PythonMkStone/images/artical_28.png" %}' alt=''>
              {{ aaal.author }}
              </p>
              <p>
                <img src='{% static "PythonMkStone/images/artical_32.png" %}' alt=''>
                {{ aaal.watch }}

                <img style="margin-left: 80px" src='{% static "PythonMkStone/images/artical_36.png" %}' alt=''>
                {{ aaal.stars }}
              </p>       
          </div>



<div class='modal fade' id='{{ aaal.id }}' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal'><span aria-hidden='true'>&times;</span><span class='sr-only'>Close</span></button>
        <h4 class='modal-title' id='myModalLabel'>MkStone</h4>
      </div>
      <div class='modal-body'>
        <div class='md-header'>
          <h1>{{ aaal.aname }}</h1>


        </div>
        <div class='mb-content'>

          <img src={{ aaal.apic }} alt=''>
          

          <p>{{ aaal.acontect }}</p>

<!-- 多说评论框 start -->
	<div class="ds-thread" data-category="<#article/category/id#>" data-thread-key="<#article/id#>" data-title="<#article/title#>" data-author-key="<#article/author/id#>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"mkstone"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.unstable.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0]
		 || document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- 多说公共JS代码 end -->

{##}
{#        <!-- 遍历评论 -->#}
{##}
{#<ul style="list-style: none; margin-left: 6px">#}
{#    <li style="margin-bottom: 9px"><span style="font-size: 20px">逗逼贱：</span><span style="margin-left: 360px; color:#777">2017年3月18日</span></li>#}
{##}
{#    <li>我是逗逼键，我喜欢大dota，哈哈哈#}
{#    </li>#}
{##}
{#</ul>#}
{#            <hr/>#}
{#<ul style="list-style: none;">#}
{#    <li>逗逼贱：</li>#}
{##}
{#    <li>我是逗逼贱#}
{#    </li>#}
{##}
{#</ul>#}
{#             <hr/>#}
{#<ul style="list-style: none;">#}
{#    <li>逗逼贱：</li>#}
{##}
{#    <li>我是逗逼贱#}
{#    </li>#}
{##}
{#</ul>#}
{# <hr/>#}
{##}
{##}
{#<!-- 提示登陆评论 -->#}
{##}
{# <p style="font-size:20px; margin-left: 16px">您还未登陆，请<a href="/login_register">注册登陆</a>后参加评论MkStone。。。</p>#}
{##}
{##}
{##}
{#<!-- 评论框 -->#}
{##}
{#<ul class="comment" style="list-style: none;">#}
{#		<li style="display: inline-block;"><textarea name="comment" placeholder="MkStone期待你的评论..." id="" cols="80" rows="5"></textarea></li>#}
{#		<li style="display: inline-block;"><button type="button" class="btn btn-primary">评论</button></li>#}
{#	</ul>#}
        </div>
      </div>


      <div class='modal-footer'>
        <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>


</div>









         
       
      {% endfor %}


        </div>


      <!-- 瀑布流结束 -->

     
  

</div>
<!-- 主体部分结束 -->



{% include 'bottom.html' %}